@media screen and (max-width: 600px) {

 
	.nav-links{
		display: none;
	}
	.menu{
		display: block;
	}

    .social-icones {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100px;
        display: none;
    }

    .logo {
        width: 19%;
        margin-left: 20px;
        margin-top: 41px;
    }


    #submit {
        width: 322px;
        height: 50px;
        border: none;
        background-color: #41aedd;
    }

    .input-description {
        width: 307px;
        height: 100px;
        border: none;
        border-bottom: 2px solid #41aedd;
        color: white;
    }

    input {
        width: 307px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 2px solid #41aedd;
        background-color: transparent;
        color: black;
      
    }

    .forms-block {
        max-width: 100%;

        margin-top: 127px;
    }

    .row{
        display:block;
      }


      .logo-dark-mode {
        width: 53%;
        margin-top: 187px;
        animation-delay: 1s;
        animation: fadeIn 1s ease-in both;
    }

    .logo-white-mode {
        width: 53%;
        margin-top: 187px;
        animation-delay: 1s;
        animation: fadeIn 1s ease-in both;
    }
    .hi-home {
        color: white;
        position: relative;
        top: 169px;
        font-family: 'open Sans';
        font-weight: 700;
        font-size: 40px;
        animation: fadeIn 3s;
        margin-left: 144px;
    }
  }



  @media screen and (max-width: 600px) {
    .hi-home {
        color: white;
        position: relative;
        top: 115px;
        font-family: 'open Sans';
        font-weight: 700;
        font-size: 40px;
        animation: fadeIn 3s;
        margin-left: 144px;
    }
  }







